//text
$global-text-color : #505050;
$global-white-text-color : #FFFFFF;
$global-blue-text-color : #3B82F6;
$global-dark-blue-text-color : #0047AB;
$global-gray-text-color : #909090;
$global-green-text-color : #0F6E56;
$global-black-text-color : #000000;
$global-red-text-color : #FF00000;

//btn
$global-blue-button-color : #3B82F6;
$global-tag-green-color : #E1F5EE;
$global-tag-neon-green-color : #C0F8E4;
$global-tag-blue-color : #3B82F6;
$global-gray-button-color : #EEEEEE;

//border
$global-black-border-color : #505050;
$global-gray-border-color : #D9D9D9;
$global-blue-border-color : #3B82F6;
$global-red-border-color : #FF0000;

//back
$global-main-background-color : #FAFAFA;
$global-white-background-color : #FFFFFF;
$global-blue-background-color : #3B82F6;
$global-section-background-color : #EAEAEA;
$global-sub-nav-background-color : #BFDBFE;
$global-gray-overlay-color : #D9D9D9;
$global-black-overlay-color : #000000;


