@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
  font-family: 'KerisKedyuche';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2601-3@1.0/KERISKEDU_R.woff2") format("woff2");
  font-weight: 400;
  font-display: swap; }
@font-face {
  font-family: 'KerisKedyuche';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2601-3@1.0/KERISKEDU_B.woff2") format("woff2");
  font-weight: 700;
  font-display: swap; }
@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap; }
@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap; }
@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap; }
@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap; }
@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap; }
@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap; }
@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap; }
@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap; }
@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap; }
@font-face {
  font-family: 'GMarketSans';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: 300;
  font-display: swap; }
@font-face {
  font-family: 'GMarketSans';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: 500;
  font-display: swap; }
@font-face {
  font-family: 'GMarketSans';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: 700;
  font-display: swap; }
* {
  box-sizing: border-box; }

a:link, a:visited, a[href] {
  color: #FFFFFF;
  text-decoration: none;
  transition-duration: 175ms;
  transition-property: color; }
  a:link:hover, a:visited:hover, a[href]:hover {
    color: #f2f2f2;
    text-decoration: underline; }
  a:link:active, a:visited:active, a[href]:active {
    color: #e6e6e6; }

html {
  height: 100%; }

body {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  width: 100%;
  min-height: 100%;
  flex: 1;
  background-color: #FAFAFA;
  color: #505050;
  cursor: default;
  font-family: 'GMarketSans', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1;
  margin: initial;
  user-select: none; }
  body > * {
    flex-grow: 0;
    flex-shrink: 0; }
  body > .-flex-stretch {
    flex-grow: 1;
    flex-shrink: 1; }

button, input, select, textarea {
  background-color: inherit;
  border: none;
  color: inherit;
  font: inherit;
  margin: initial;
  margin-block: initial;
  margin-inline: initial;
  outline: none;
  padding: initial;
  padding-block: initial;
  padding-inline: initial; }

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin-block: initial;
  margin-inline: initial; }

html {
  height: 100%; }

img {
  -webkit-user-drag: none; }

ol, ul {
  list-style-type: none;
  margin-block: 0;
  padding-inline: 0; }

.footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  background-color: #f1f7ff;
  padding: 2rem;
  margin-top: auto; }
  .footer > * {
    flex-grow: 0;
    flex-shrink: 0; }
  .footer > .-flex-stretch {
    flex-grow: 1;
    flex-shrink: 1; }
  .footer .divider {
    width: 0.0625rem;
    background-color: #ccc;
    align-self: stretch; }
  .footer .media-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center; }
    .footer .media-wrapper > * {
      flex-grow: 0;
      flex-shrink: 0; }
    .footer .media-wrapper > .-flex-stretch {
      flex-grow: 1;
      flex-shrink: 1; }
    .footer .media-wrapper .cs-wrapper {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 0;
      justify-content: center; }
      .footer .media-wrapper .cs-wrapper > * {
        flex-grow: 0;
        flex-shrink: 0; }
      .footer .media-wrapper .cs-wrapper > .-flex-stretch {
        flex-grow: 1;
        flex-shrink: 1; }
      .footer .media-wrapper .cs-wrapper .service-center {
        font-size: 1.2rem;
        font-weight: 600;
        padding-bottom: 0.5rem;
        cursor: pointer;
        color: #505050; }
        .footer .media-wrapper .cs-wrapper .service-center:hover {
          color: #1d1d1d; }
      .footer .media-wrapper .cs-wrapper .cs-method {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: flex-start;
        padding-bottom: 0.5rem; }
        .footer .media-wrapper .cs-wrapper .cs-method > * {
          flex-grow: 0;
          flex-shrink: 0; }
        .footer .media-wrapper .cs-wrapper .cs-method > .-flex-stretch {
          flex-grow: 1;
          flex-shrink: 1; }
        .footer .media-wrapper .cs-wrapper .cs-method .service-num,
        .footer .media-wrapper .cs-wrapper .cs-method .service-email {
          font-size: 0.9rem;
          font-weight: 500;
          color: #505050; }
        .footer .media-wrapper .cs-wrapper .cs-method .method-divider {
          width: 0.0625rem;
          height: 0.8rem;
          background-color: #ccc;
          padding-top: 1rem; }
      .footer .media-wrapper .cs-wrapper .info-list {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        justify-content: center;
        list-style-type: disc;
        padding-left: 1rem; }
        .footer .media-wrapper .cs-wrapper .info-list > * {
          flex-grow: 0;
          flex-shrink: 0; }
        .footer .media-wrapper .cs-wrapper .info-list > .-flex-stretch {
          flex-grow: 1;
          flex-shrink: 1; }
        .footer .media-wrapper .cs-wrapper .info-list .item {
          font-size: 0.8rem;
          color: #505050; }
    .footer .media-wrapper .terms-wrapper .terms {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center; }
      .footer .media-wrapper .terms-wrapper .terms > * {
        flex-grow: 0;
        flex-shrink: 0; }
      .footer .media-wrapper .terms-wrapper .terms > .-flex-stretch {
        flex-grow: 1;
        flex-shrink: 1; }
      .footer .media-wrapper .terms-wrapper .terms .service,
      .footer .media-wrapper .terms-wrapper .terms .security {
        cursor: pointer;
        color: #505050;
        font-size: 0.9rem; }
        .footer .media-wrapper .terms-wrapper .terms .service:hover,
        .footer .media-wrapper .terms-wrapper .terms .security:hover {
          color: #1d1d1d; }
  .footer .compony-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center; }
    .footer .compony-wrapper > * {
      flex-grow: 0;
      flex-shrink: 0; }
    .footer .compony-wrapper > .-flex-stretch {
      flex-grow: 1;
      flex-shrink: 1; }
    .footer .compony-wrapper .info {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: center; }
      .footer .compony-wrapper .info > * {
        flex-grow: 0;
        flex-shrink: 0; }
      .footer .compony-wrapper .info > .-flex-stretch {
        flex-grow: 1;
        flex-shrink: 1; }
      .footer .compony-wrapper .info .compony-info {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
        color: #505050;
        font-size: 0.9rem; }
        .footer .compony-wrapper .info .compony-info > * {
          flex-grow: 0;
          flex-shrink: 0; }
        .footer .compony-wrapper .info .compony-info > .-flex-stretch {
          flex-grow: 1;
          flex-shrink: 1; }
        .footer .compony-wrapper .info .compony-info .info-divider {
          width: 0.0625rem;
          height: 0.8rem;
          background-color: #ccc;
          padding-top: 1rem; }
      .footer .compony-wrapper .info .compony-content {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
        color: #505050;
        font-size: 0.85rem; }
        .footer .compony-wrapper .info .compony-content > * {
          flex-grow: 0;
          flex-shrink: 0; }
        .footer .compony-wrapper .info .compony-content > .-flex-stretch {
          flex-grow: 1;
          flex-shrink: 1; }
        .footer .compony-wrapper .info .compony-content .info-divider {
          width: 0.0625rem;
          height: 0.8rem;
          background-color: #ccc;
          padding-top: 1rem;
          font-size: 0.9rem; }
      .footer .compony-wrapper .info .sub-item {
        font-size: 0.8rem;
        color: #505050; }
      .footer .compony-wrapper .info .sub-copy {
        font-size: 0.7rem;
        color: #838383; }
  @media (max-width: 1229px) {
    .footer {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: flex-start; }
      .footer > * {
        flex-grow: 0;
        flex-shrink: 0; }
      .footer > .-flex-stretch {
        flex-grow: 1;
        flex-shrink: 1; }
      .footer > .divider {
        width: 100%;
        height: 0.0625rem;
        align-self: stretch; }
      .footer .media-wrapper {
        gap: 2rem; }
      .footer .compony-wrapper .info {
        gap: 0.3rem; }
        .footer .compony-wrapper .info .compony-info,
        .footer .compony-wrapper .info .compony-content {
          display: block;
          line-height: 1; }
          .footer .compony-wrapper .info .compony-info .item, .footer .compony-wrapper .info .compony-info .info-divider,
          .footer .compony-wrapper .info .compony-content .item,
          .footer .compony-wrapper .info .compony-content .info-divider {
            display: inline; }
        .footer .compony-wrapper .info .sub-item {
          line-height: 1.2; } }

.top-nav {
  align-items: stertch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  min-width: 100%;
  padding: 1.5rem 0 0;
  background-color: #FFFFFF;
  border-bottom: 0.1rem solid #f3f3f3; }
  .top-nav > * {
    flex-grow: 0;
    flex-shrink: 0; }
  .top-nav > .-flex-stretch {
    flex-grow: 1;
    flex-shrink: 1; }
  .top-nav > .inner {
    align-items: stertch;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    width: 100%;
    max-width: 70%;
    margin: 0 auto; }
    .top-nav > .inner > * {
      flex-grow: 0;
      flex-shrink: 0; }
    .top-nav > .inner > .-flex-stretch {
      flex-grow: 1;
      flex-shrink: 1; }
    .top-nav > .inner > .top {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 0;
      justify-content: space-between; }
      .top-nav > .inner > .top > * {
        flex-grow: 0;
        flex-shrink: 0; }
      .top-nav > .inner > .top > .-flex-stretch {
        flex-grow: 1;
        flex-shrink: 1; }
      .top-nav > .inner > .top > .logo {
        font-size: 2rem;
        font-family: 'KerisKedyuche';
        font-weight: 700;
        color: #3B82F6; }
      .top-nav > .inner > .top img {
        display: none; }
    .top-nav > .inner > .menu {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 0;
      justify-content: flex-start;
      font-size: 1.2rem; }
      .top-nav > .inner > .menu > * {
        flex-grow: 0;
        flex-shrink: 0; }
      .top-nav > .inner > .menu > .-flex-stretch {
        flex-grow: 1;
        flex-shrink: 1; }
      .top-nav > .inner > .menu > .item {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: flex-start;
        padding: 0.5rem 1.2rem 0.75rem 1.2rem;
        border-bottom: 0.17rem solid transparent; }
        .top-nav > .inner > .menu > .item > * {
          flex-grow: 0;
          flex-shrink: 0; }
        .top-nav > .inner > .menu > .item > .-flex-stretch {
          flex-grow: 1;
          flex-shrink: 1; }
        .top-nav > .inner > .menu > .item.active {
          font-weight: 700;
          border-bottom: 0.17rem solid #3B82F6; }

/*# sourceMappingURL=common.css.map */
