<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<nav class="top-nav" th:fragment="topNavigator">
    <div class="inner">
        <div class="top">
            <div class="logo">Tripwidus</div>
            <div class="login">Login</div>
            <img class="profile" src="" alt="">
        </div>
        <div class="menu">
            <div class="item">🏠 홈</div>
            <div class="item active">📆 내 여행</div>
            <div class="item">️️🗺 장소 검색</div>
            <div class="item">📜 여행자들의 기록</div>
        </div>
    </div>
</nav>
</body>
</html>