<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="footer" id="footer" th:fragment="footer">
    <div class="media-wrapper">
        <div class="cs-wrapper">
            <a href="/cs" class="service-center">고객센터</a>
            <div class="cs-method">
                <div class="service-num">02-1234-5678</div>
                <span class="method-divider"></span>
                <div class="service-email">support@service.com</div>
            </div>
            <ul class="info-list">
                <li class="item">평일 09:00 ~ 18:00 (12:00~13:00 점심)</li>
                <li class="item">주말, 공휴일 휴무</li>
            </ul>
        </div>
        <div class="divider"></div>
        <div class="terms-wrapper">
            <div class="terms">
                <a href="/user/terms" class="service">이용약관</a>
                <a href="/user/personalInformationPolicy" class="security">개인정보처리방침</a>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="compony-wrapper">
        <div class="info">
            <div class="compony-info">
                <span class="item">(주)펫로그</span>
                <span class="info-divider"></span>
                <span class="item">대표이사 김박</span>
                <span class="info-divider"></span>
                <span class="item">대구광역시 중구 중앙대로 366, 10층 A</span>
            </div>
            <div class="compony-content">
                <span class="item">사업자등록번호 111-11-11111</span>
                <span class="info-divider"></span>
                <span class="item">통신판매업신고번호 제2026-대구중구-1111호</span>
            </div>
            <div class="sub-item">고객님이 현금결제한 금액에 대해 우리은행과 채무지급보증 계약을 체결하여 안전거래를 보장하고 있습니다.</div>
            <div class="sub-copy">Copyright 2026. kimpark, Co., Ltd. All rights reserved.</div>
        </div>
    </div>
    </div>
</body>
</html>